#menu {
	float:left;
	width:100%;
	background:#303030;
	border-bottom:0px solid #a0a0a0;
	overflow:hidden;
	position:relative;
	font-size:15px;
}

#menu ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}

#menu ul li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}

#menu ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:0px 20px;
	background:#000;
	color:#fff;
	text-decoration:none;
	line-height:1.3em;
}

#menu ul li a:hover {
	background:#369;
	color:#fff;
}

#menu ul li a.active,
#menu ul li a.active:hover {
	color:#000;
	background:#a0a0a0;
	font-weight:bold;
}
