<system.xml>
	<component>
		<serialiseVersionData>	2	</serialiseVersionData>
		<windFactor_>	0.000000	</windFactor_>
		<explicitTransform_>	false	</explicitTransform_>
		<explicitPosition_>	0.000000 0.000000 0.000000	</explicitPosition_>
		<explicitDirection_>	0.000000 0.000000 1.000000	</explicitDirection_>
		<localOffset_>	0.000000 0.000000 0.000000	</localOffset_>
		<maxLod_>	0.000000	</maxLod_>
		<fixedFrameRate_>	-1.000000	</fixedFrameRate_>
		<Actions>	</Actions>
		<Renderer>
			<SpriteParticleRenderer>
				<viewDependent_>	false	</viewDependent_>
				<local_>	false	</local_>
				<textureName_>	system/maps/notfound.bmp	</textureName_>
				<materialFX_>	0	</materialFX_>
				<frameCount_>	0	</frameCount_>
				<frameRate_>	0.000000	</frameRate_>
				<explicitOrientation_>	0.000000 0.000000 0.000000	</explicitOrientation_>
				<useFog_>	true	</useFog_>
			</SpriteParticleRenderer>
		</Renderer>
		<capacity>	100	</capacity>
		<boundingBox>
			<min>	-0.020000 -0.020000 -0.020000	</min>
			<max>	0.020000 0.020000 0.020000	</max>
		</boundingBox>
	</component>
	<metaData>
		<modified_by>	alexanderr	</modified_by>
		<modified_on>	1340265476	</modified_on>
	</metaData>
</system.xml>
