.Toggleable {
    display: none;
    background-color: #FFFFFF;
}
.Group {
	border-radius: 5px;
	border: 5px solid #F5F5F5;
	background-color: #F5F5F5;
}
.SubGroup {
	border-radius: 5px;
	border: 5px solid #EAF1FD;
	background-color: #EAF1FD;
}